<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">
<head>
    <title th:text="${board.boardId != null ? '게시판 수정' : '게시판 등록'}">게시판</title>
</head>
<body>
<h1 layout:fragment="page-title" th:text="${board.boardId != null ? '게시판 수정' : '게시판 등록'}">게시판</h1>
<ol layout:fragment="breadcrumb" class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">홈</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin/boards}">게시판</a></li>
    <li class="breadcrumb-item active" th:text="${board.boardId != null ? '수정' : '등록'}">등록</li>
</ol>

<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title" th:text="${board.boardId != null ? '게시판 수정' : '신규 게시판'}">게시판</h3>
        </div>
        <form th:action="${board.boardId != null ? '/admin/boards/' + board.boardId + '/edit' : '/admin/boards/create'}"
              th:object="${board}" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="boardNm">이름 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="boardNm" th:field="*{boardNm}" required placeholder="게시판 이름을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="boardViewNm">표시명</label>
                    <input type="text" class="form-control" id="boardViewNm" th:field="*{boardViewNm}" placeholder="화면 표시명을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="boardDesc">설명</label>
                    <textarea class="form-control" id="boardDesc" th:field="*{boardDesc}" rows="4" placeholder="게시판 설명을 입력하세요"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="useYn" th:field="*{useYn}">
                            <label class="custom-control-label" for="useYn">사용</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="postYn" th:field="*{postYn}">
                            <label class="custom-control-label" for="postYn">게시 허용</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="fileYn" th:field="*{fileYn}">
                            <label class="custom-control-label" for="fileYn">첨부 허용</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="replyYn" th:field="*{replyYn}">
                            <label class="custom-control-label" for="replyYn">댓글 허용</label>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="categoryYn" th:field="*{categoryYn}">
                        <label class="custom-control-label" for="categoryYn">카테고리 사용</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> 저장</button>
                <a th:href="@{/admin/boards}" class="btn btn-default"><i class="fas fa-times"></i> 취소</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
